html {
  font-family: "Lato", "Arial", sans-serif; /*if LATO is not loaded then ARIAL or SANS-SERIF will be shown*/
}

body {
  background-color: #f2f2f2;
  background-image: linear-gradient(rgba(14, 14, 14, 0.7), rgb(0, 0, 0, 0.7)),
    url(/imgs/bke11.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 400px;
}

h2 {
  text-align: center;
}

.input-container {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.password-input-container {
  position: relative;
}

.show-hide-btn {
  background-color: transparent;
  border: none;
  color: #069;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

input[type="submit"] {
  background-color: #4caf50;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.signup-link {
  color: #069;
  display: block;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
}
