:root {
  --color-primary: rgb(22, 160, 133);
  --color-secondary: rgb(27, 50, 45);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: rgba(255, 255, 255, 0.848);
  color: #ffffff;
  font-family: "Lato", "Arial", sans-serif; /*if LATO is not loaded then ARIAL or SANS-SERIF will be shown*/
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility; /*Helps loading external fonts easily and in an optimized manner */
}
/*----------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*  REUSABLE CONPONENTS */
/*--------------------------------------------------------------------------------------------------------------*/
.row {
  margin: 0 auto 0 auto;
}
section {
  padding: 80px 0;
}
.box {
  padding: 1%;
}
.icon {
  font-size: 40px;
}
/*--------------------------------------------------------------------------------------------------------------*/
/*  HEADER */
/*--------------------------------------------------------------------------------------------------------------*/
header {
  background-image: linear-gradient(rgba(14, 14, 14, 0.7), rgb(0, 0, 0, 0.7)),
    url(/imgs/m_p_back1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/*  NAVIGATION BAR  */
.navrow button {
  /* border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: rgb(0, 0, 0);
  cursor: pointer; */
}
.navrow img {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 5px;
  margin-left: 2px;
}
.main-nav {
  list-style: none;
  float: center;
  text-align: center;
  padding: 14px 16px;
}
.main-nav li {
  margin-top: 10px;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding: 5px 0px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 75%; /* 18 divided by 20 */
  margin-left: 40px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid rgb(22, 160, 133);
}
.nav-button {
  float: right;
  color: var(--color-primary);
  margin-right: 2%;
}

/*  SEARCH BAR  */
.search {
  /* display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%; */

  position: absolute;
  display: flex;
  justify-content: center;
  left: 30%;
  right: 30%;
}
.search-bar {
  background: rgb(27, 50, 45, 0.8);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px, 20px;
  width: 60%;
  opacity: 0;
  animation: fading 4s ease forwards;
}
.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  margin-left: 20px;
  outline: none;
  padding: 24px, 24px;
  font-size: 15px;
  color: white;
}
::placeholder {
  color: white;
}
.search-bar button img {
  width: 20px;
}
.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: rgb(0, 0, 0);
  cursor: pointer;
}
/* .icon {
  padding-left: 30%;
  font-size: 350%;
  display: block;
  color: rgb(22, 160, 133);
  margin-bottom: 10px;
} */

/*--------------------------------------------------------------------------------------------------------------*/
/*  Background */
/*--------------------------------------------------------------------------------------------------------------*/

.punchLine {
  float: left;
  width: 800px;
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
}
.punchLine h1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 10px;
  margin-right: 8%;
  margin-left: 10%;
}
span {
  opacity: 0;
  transition: all 1s ease;
  transform-origin: translateY(50px);
}
span.fade {
  opacity: 1;
  transform-origin: translateY(50px);
}
h1:after {
  display: block;
  height: 3px;
  background-color: rgb(22, 160, 133);
  content: " ";
  width: 350px;
  margin-top: 10px;
  opacity: 0;
  animation: fading 8s ease forwards;
}
@keyframes fading {
  to {
    opacity: 1;
  }
}
/*
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h1 {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 10px;
}
h2 {
  font-size: 200%;
  font-weight: 500;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}
h2:after {
  display: block;
  height: 2px;
  background-color: rgb(22, 160, 133);
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
h3 {
  text-align: center;
  font-size: 105%;
  font-weight: 400;
  margin-bottom: 15px;
} */

/*************************SECTIONS*******************************************/
.sec {
  color: black;
  padding-left: 5%;
  padding-right: 5%;
}
/************************** EXPLORE ******************************************/
/**************************ALL PRODUCTS SECTION*******************************/
.prod img {
  height: 90%;
  width: 50%;
  display: flex;
  align-items: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(87, 86, 86, 0.5),
    0 4px 16px rgba(107, 96, 96, 0.5);
  transition: 1s;
}
.prod img:hover {
  transform: scale(1.3);
}
.prod a {
}
.prod {
}
/**FOOTER**/

.footerLinks {
  font-size: 5vh;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
}
.footerLinks a {
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 0.8%;
  margin-bottom: 0.2%;
  text-decoration: none;
  color: black;
}
.main-footer {
  background-color: var(--color-secondary);
}
.footersec1 {
  margin-top: 40%;
  margin-bottom: 40%;
}
.footersec1 h2 {
  border-color: #fff;
  margin-bottom: 10%;
  margin-left: 10%;
  text-transform: uppercase;
  letter-spacing: 20px;
  margin-right: 10%;
}
.footersec2 {
  margin-top: 20%;
}
.footersec2 h3 {
  height: 30px;
  margin-left: 35%;
}
.title-prod-footer {
}
.prds-footer {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.prds-footer li {
  list-style: none;
  padding-bottom: 10%;
}
.cpywrt-footer {
  background-color: black;
  display: flex;
  justify-content: center;
  word-spacing: 4px;
  letter-spacing: 2px;
  padding: 2% 2%;
}
.footersec3 {
}

.hidden {
  opacity: 0;
  transition: all 1.7s;
  filter: blur(5px);
}
.show {
  opacity: 1;
  filter: blur(0);
}
